{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* detect Windows */}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $osID = "windows" -}}
{{- end -}}

{{/* detect work machines */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "seanvan-laptop" -}}
{{-   $work = true -}}
{{-   $headless = false -}}
{{-   $ephemeral = false -}}
{{-   $personal = false -}}

{{/* detect personal machines */}}
{{- else if eq $hostname "desktop01" -}}
{{-   $headless = false -}}
{{-   $ephemeral = false -}}
{{-   $personal = true -}}

{{/* detect headless machines */}}
{{- else if eq $hostname "pi*" or "nas*" or "k3s*" or "fw*" or "kvm*" or "fdm*" -}}
{{-   $headless = true -}}
{{-   $ephemeral = false -}}
{{-   $personal = true -}}

{{/* prompt for headless and ephemeral */}}
{{- else if stdinIsATTY -}}
{{-   $headless = promptBoolOnce . "headless" "headless" -}}
{{-   $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{- else -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $email = "personal@example.com" -}}
{{- if $work -}}
{{-   $email = "work@example.com" -}}
{{- end -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    work = {{ $work }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}
    zshPlugins = [
        "per-directory-history",
        "vi-mode",
        "zsh-syntax-highlighting",
    ]

[github]
    refreshPeriod = "12h"
