{{- if eq .osid "linux-ubuntu" }}

[".local/bin/age"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age"

[".local/bin/age-keygen"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age-keygen"

[".local/bin/bw"]
    type = "archive-file"
    url = "https://github.com/bitwarden/clients/releases/download/cli-v2025.6.1/bw-linux-2025.6.1.zip"
    refreshPeriod = "72h"
    executable = true
    path = "bw"  # or try "dist/bw" if it's nested

[".local/bin/eza"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" "eza_x86_64-unknown-linux-gnu.tar.gz" | quote }}
    executable = true
    path = "./eza"

[".local/bin/nvim"]
    type = "file"
    url = "https://github.com/neovim/neovim/releases/download/stable/nvim-linux-x86_64.appimage"
    refreshPeriod = "672h"
    executable = true

[".local/bin/uv"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    refreshPeriod = "72h"
    executable = true
    path = "uv-x86_64-unknown-linux-gnu/uv"

{{- end }}

{{- if and (not .ephemeral) (not .headless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "windows" }}
{{-     $fontDir = "%windir%\\Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "Fira Code Regular.ttf"
        "Fira Code SemiBold.ttf"
        "Fira Code Bold.ttf"
        "Fira Code Light.ttf"
        "Fira Code Medium.ttf"
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}
{{- end }}

[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.*",
        "*/templates",
        "*/themes",
    ]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.editorconfig",
        "*/.gitattributes",
        "*/.github",
        "*/.gitignore",
    ]

[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/{{ (gitHubLatestRelease "romkatv/powerlevel10k").TagName }}.tar.gz"
    exact = true
    stripComponents = 1
