{{ if stat "/home/linuxbrew/.linuxbrew/bin/brew" -}}
fpath+=("{{ output "/home/linuxbrew/.linuxbrew/bin/brew" "--prefix" | trim }}/share/zsh/site-functions")

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}
