#!/bin/bash
{{ if and (eq .chezmoi.os "linux") (not .headless) }}
{{ $extensions := list
     "asvetliakov.vscode-neovim"
     "eamodio.gitlens"
     "EditorConfig.EditorConfig"
     "golang.go"
     "jinliming2.vscode-go-template"
     "ms-python.python"
     "ms-vscode-remote.remote-containers"
     "ms-vscode-remote.remote-ssh"
     "ms-vscode-remote.remote-ssh-edit"
     "ms-vscode-remote.vscode-remote-extensionpack"
     "ms-vscode.cpptools"
     "redhat.vscode-yaml"
     "stkb.rewrap"
     "tamasfe.even-better-toml"
     "Tyriar.sort-lines"
     "yzhang.markdown-all-in-one" }}

set -euo pipefail

{{ range $extensions }}
if ! code --list-extensions | grep -q "^{{ . }}$"; then
  code --force --install-extension {{ . }}
fi
{{ end }}

{{ end }}