HashKnownHosts no

Host jump
  HostName jump.homeops.ca
  User sean-admin

Host con*
   Hostname %h.homeops.ca
   User sean-admin

Host k3s*
  HostName %h.homeops.ca
  User k3s-admin

Host pve*
  HostName %h.homeops.ca
  User sean-admin

Host pi*
  HostName %h.homeops.ca
  User pi

Host fdm*
  HostName %h.homeops.ca
  User pi

Host kvm*
  HostName %h.homeops.ca
  User root
  RemoteCommand rw

Host nas*
  HostName %h.homeops.ca
  User sean-admin

Host fw*
  HostName %h.homeops.ca
  User sean-admin

Host core*
  HostName %h.homeops.ca
  User sean-admin
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_rsa
  KexAlgorithms +diffie-hellman-group1-sha1
  PubkeyAcceptedKeyTypes +ssh-rsa
  HostKeyAlgorithms +ssh-rsa
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostKeyAlgorithms +ssh-rsa

Host ups*
   Hostname %h.homeops.ca
   User ups-admin
   Ciphers +aes256-cbc,aes128-cbc
   PubkeyAcceptedKeyTypes +ssh-rsa
   HostKeyAlgorithms +ssh-rsa

Host pdu*
   Hostname %h.homeops.ca
   User pdu-admin
   Ciphers +aes256-cbc,aes128-cbc
   PubkeyAcceptedKeyTypes +ssh-rsa
   HostKeyAlgorithms +ssh-rsa