#!/bin/sh
{{- if and (eq .osid "linux-pop" "linux-ubuntu") (not .ephemeral) }}
set -u

# https://launchpad.net/~longsleep/+archive/ubuntu/golang-backports
sudo add-apt-repository -y ppa:longsleep/golang-backports || echo "Warning: failed to add golang PPA" >&2
sudo apt-get install -y golang || echo "Warning: failed to install golang" >&2
{{- end }}
