#!/bin/bash
{{- if eq .osid "linux-ubuntu" "linux-debian" "linux-raspbian" }}
set -uo pipefail

if command -v brew >/dev/null 2>&1; then
  echo "Homebrew is already installed"
  exit 0
fi

case "$(uname -m)" in
  x86_64 | aarch64)
    echo "Installing Homebrew..."
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    ;;
  *)
    echo "Unsupported architecture: $(uname -m)" >&2
    exit 1
    ;;
esac
{{- end }}
